.container{
    margin-bottom:100px;
}



.carousel-bg{
    background-color:#FEEAE9;
    border-radius:10px;
    
}
.carousel-item{
    padding:20px 40px;
}
.color{
    color:#FF136F;
}
.button{
    background-image:linear-gradient( to bottom, #FF5898 0%, #FF136F);
    border-radius:8px;
    padding:9px 25px;
    border:none;
    color:white;
    
}
.cat-1,.cat-2,.cat-3{
    border-radius:10px;
    padding:10px 20px;
}
.cat-1{
    background-image:linear-gradient(45deg, #FF9C35, #FFD019);
}
.cat-2{
    background-image:linear-gradient(45deg,#FF589B ,#FF136F);
}
.cat-3{
    background-image:linear-gradient(45deg,#3F07F8, #4289FF)
}
.bag-size img{
    height:100px;
}
.bag-size h1{
    color:white;
}
.catego{
    padding-left: 50px;
    padding-bottom:10px;
}
.navbar{
    background-color:#e3f2fd;
}
.card{
    border:none;
    box-shadow:10px 10px 50px lightgray;
    border-radius: 10px;
}
#Subscribe{
    height:300px;
}
#Subscribe p{
    color:gray;
}
.foot{
    text-align:center;
}
footer{
    height:100px;
}
footer p{
    font-size:small;
}